@model IEnumerable<KQStore.Models.CategoryRandomImage>

@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-6 pb-1">
        <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
            <a href="~/Product/Index?CateId=@item.Category.CateId" class="cat-img position-relative overflow-hidden mb-3">
                <img class="img-fluid" src="@Url.Content(item.RandomImageUrl)" alt="">
            </a>
            <h5 class="font-weight-semi-bold m-0">@item.Category.CateName</h5>
        </div>
    </div>
}