@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Về chúng tôi</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="~/Home/Index">Trang chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Về chúng tôi</p>
        </div>
    </div>
</div>

<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">KeqingShop và những điều thú vị</span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col-lg-6 mb-5">
            <img style="width:65%;height:87%" src="~/Image/kqicon1.png" />
        </div>
        <div class="col-lg-6 mb-5">
            <h5 class="font-weight-semi-bold mb-3">Cửa hàng với những món quà mơ ước</h5>
            <p>Cảm ơn bạn đã ghé qua KeqingShop, cửa hàng của chúng mình chuyên bán những sản phẩm, đồ vật, đồ chơi lưu niệm đến game và nhân vật hoạt hình.</p>
            <br />
            <p>Với những mẫu hàng cực kỳ chất lượng, đẹp đẽ, phù hợp với túi tiền, chắc chắn sẽ làm hài lòng các bạn. Nhanh chân đặt những món đồ yêu thích cho mình để thỏa mãn được đam mê sưu tầm và thú vui sở hữu vật phẩm giới hạn.</p>
            <br />
            <p>Do có niềm đam mê mạnh mẽ với những tựa game nhập vai, cảm nhận được niềm vui của game mang lại, nhận thấy giá trị của những sản phẩm đi theo nó, chúng mình đã tạo ra KeqingShop mong muốn mang đến cho các bạn khác có niềm đam mê chung hay chỉ đơn giản là thích thú với những món đồ đáng yêu, mọi người đều có thể thỏa thích mua hàng và sở hữu cho mình những món hàng yêu thích</p>
            <p> Cảm ơn các bạn đã tin tưởng lựa chọn KeqingShop, mong rằng shop sẽ được đồng hành cùng các bạn.</p>
        </div>
    </div>
    <div class="row px-xl-5">

        <div class="col-lg-6 mb-5">
            <h5 class="font-weight-semi-bold mb-3">Chúng mình sẽ luôn sẵn lòng hỗ trợ các bạn</h5>

            <p>KeqingShop có nhận order những sản phẩm liên quan mà shop chúng mình chưa cập nhật, nếu muốn các bạn có thể để lại <span><a href="~/Home/Contact">liên hệ.</a></span></p>
            <div class="d-flex flex-column mb-3">
                <h5 class="font-weight-semi-bold mb-3">Địa chỉ cửa hàng</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Số 1 , Nguyên Xá, Minh Khai, Quận Bắc Từ Liêm, Thành Phố Hà Nội</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>maihieu922@gmail.com</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>0962426056</p>
            </div>
        </div>
        <div class="col-lg-6 mb-5">
            <img style="width:100%;height:100%" src="~/Image/page.png" />
        </div>

    </div>
    <div class="row px-xl-5">
        <div class="col-lg-6 mb-5">
            <img style="width:100%;height:100%" src="~/Image/page5.jpg" />
        </div>
        <div class="col-lg-6 mb-5">
            <img style="width:100%;height:100%" src="~/Image/pag3.jpg" />
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col-lg-6 mb-5">
            <img style="width:100%;height:100%" src="~/Image/page2.jpg" />
        </div>
        <div class="col-lg-6 mb-5">
            <img style="width:100%;height:100%" src="~/Image/page4.jpg" />
        </div>
    </div>
</div>
